footer {
  margin-top: 40px;
} 

footer .footer-title h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #272042;
}

footer .list-title ul li a {
  color: #8B8BA5;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

footer .list-title ul li a:hover {
  color: #8B8BA5;
}

@media (max-width: 992px) {
  footer .logo img {
    max-width: 160px;
  }

  footer .footer-title h5 {
    font-size: 18px;
    line-height: 27px;
  }
  
  footer .list-title ul li a {
    font-size: 16px;
    line-height: 20px;
  }
}