body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
}

// Navbar
.navbar {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &.active {
            font-weight: 500;
            color: #272042;
          }
          color: #8B8BA5;
          font-size: 18px;
        }
      }
    }

    .btn-login {
      background-color: #FBE0DC;
      padding: 14px 54px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      font-size: 18px;
      font-weight: 500;
      &:hover {
        background-color: #fad1ca;
      }
    }
  }
}

// Banner
.jumbotron {
  min-height: 400px;
  padding-top: 100px;
  background-color: #ffffff;

  .left-content {
    h1 {
      font-weight: bold;
      font-size: 42px;
      line-height: 62px;
      color:#272042;
    }
    p {
      color:#8B8BA5;
      font-size: 20px;
      line-height: 34px;
    }
    .btn-menu {
      .btn-menu-decide {
        background-color: #F7C531;
        padding: 14px 54px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          background-color: #ffd455;
          color: #35353b;
        }
      }
    }
  }

  .right-content {
    img {
      max-width: 550px;
    }
  }
}

// Kategori
.section-kategori {
  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  a {
    text-decoration: none;
  }
  .menu-kategori {
    font-size: 20px;
    line-height: 25px;
    color: #272042;

    &.active {
      font-weight: 500;
      color: #F7C531;
    }
  }

  .search-menu {
    .input-group-prepend {
      span {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: #ffffff;
        border-color: #4bd4f7;
      }
    }
    input {
      border-radius: 50px;
      border-left: none;
      box-shadow: none;
    }
  }

  .menu-pilihan {
    .card {
      border: none;
      .card-body {
        h5 {
          font-size: 22px;
          line-height: 27px;
          font-weight: 500;
          color: #272042;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          color: #8B8BA5;
        }
      }
    }
  }
}

// Footer
footer {
  margin-top: 100px;
  h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    color: #272042;
  }
  a {
    color: #8B8BA5;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      color: #8B8BA5;
    }
  }
}

// Checkout
.section-details {
  .breadcrumb {
    background-color: #ffffff;
  }
  .card {
    border: none;
    img {
      max-width: 500px;
    }
    .detail-menu-order {
      h5 {
        font-size: 22px;
        font-weight: bold ;
      }
      h3 {
        font-size: 35px;
        color: #f5c023;
      }
      label {
        font-size: 18px;
        font-weight: 500;
        padding-top: 3px;
      }
    }

    .btn-order {
      background-color: #F7C531;
      color: #272042;

      &:hover {
        background-color: #face49;
        color: #272042;
      }
    }
  }
}

// Success
.section-success {
  margin-top: 90px;
  img {
    max-width: 200px;
  }
  h1 {
    font-size: 32px;
    margin-top: 10px;
  }
  p {
    color: #8B8BA5;
    font-size: 17px;
  }
  .btn-home {
    background-color: #F7C531;
    color: #272042;
    &:hover {
      background-color: #face49;
      color: #272042;
    }
  }
}

// Responsive
@media (max-width: 1024px) {
  .jumbotron {
    padding-top: 30px;
    .left-content {
      h1 {
        font-size: 38px;
        line-height: 48px;
      }
      p {
        font-size: 19px;
      }
    }

    .right-content {
      img {
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .jumbotron {
    padding-top: 20px;
    .left-content {
      text-align: center;
      h1 {
        font-size: 30px;
        line-height: 40px;
      }
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }

    .right-content {
      img {
        max-width: 380px;
      }
    }
  }
}